<% provide(:title, "#{$language['edit'].capitalize} #{@type.title_s}") %>

<div class="home panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= yield(:title) %></h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12 col-lg-12 text-right">
      <%= getLanguageSelector() %>
    </div>
    <%= form_for [:admin, @type_object],:url => admin_update_type_path(@type.name, @type_object.id), :html => { :multipart => true } do |f| %>

      <input type="hidden" name="type" value="<%= @type.name %>">

      <div class="col-md-6 col-lg-6">
        <h4 class="field-title"><%= $language['title'].capitalize %></h4>
        <div class="input-group">
          <label class="input-group-addon"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></label>
          <input class="form-control" type="text"  name="<%= "#{@type.name}[title]" %>" value="<%= @type_object.send(@title_field_name) %>">
        </div>
        <br>
      </div>

      <div class="col-md-6 col-lg-6">
        <h4 class="field-title"><%= $language['url'].capitalize %></h4>
        <div class="input-group">
          <label class="input-group-addon"><span class="glyphicon glyphicon-link" aria-hidden="true"></label>
          <input class="form-control" type="text"  name="<%= "#{@type.name}[url]" %>" value="<%= @type_object.url %>">
        </div>
        <br>
      </div>

      <% @typefields.each do |typefield| %>
      <%
      typefield_name = typefield.name
      if(params[:locale] and typefield.type_field != "image" and typefield.type_field != "file")
        typefield_name = "#{typefield.name}_#{params[:locale]}"
      elsif(typefield.type_field != "image" and typefield.type_field != "file")
        typefield_name = "#{typefield.name}_#{I18n.default_locale}"
      end
      %>
      <div class="col-md-12 col-lg-12">
        <%= getInputTypefield(typefield.name, @type_object.id, @type.name, "#{@type.name}[#{typefield_name}]") %>
      </div>
      <% end %>

      <div class="col-md-12 col-lg-12">
        <input class="btn btn-primary" type="submit" value="<%= $language['save'].capitalize %>">
      </div>
    <% end %>
  </div>
</div>
