<% provide(:title, @type.title_p.capitalize) %>

<div class="home panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= yield(:title) %></h3>
  </div>
  <div class="panel-body">
    <div class="col-md-6 col-lg-6">
      <div class="list-group">
      <%= search_form_for @question, url: admin_index_type_objects_path(@type.title_s) do |f| %>
        <div class="input-group">
          <%= f.search_field "title_#{I18n.default_locale}_start", class: 'form-control', placeholder: $language['title'].capitalize %>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" type="button"><%= $language['search'].capitalize %></button>
          </span>
        </div><!-- /input-group -->
      <% end %>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 text-right">
      <%= link_to $language['show'].capitalize, getTypeUrl(@type.url), class: "btn btn-primary" %>
      <%= link_to $language['new'].capitalize, admin_new_type_objects_path(@type.name), class: "btn btn-primary" %>
      <br><br>
    </div>
    <div class="col-md-12 col-lg-12">

      <% if @type_objects.blank? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only"></span>
          <%= $language['type_not_found'].capitalize %>
        </div>
      <% else %>
        <% @type_objects.each do |object| %>
        <a href="<%= admin_show_type_objects_path(@type.name, object.id) %>" class="list-group-item">
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <b><%= object.title %></b>
        </a>
        <% end %>
      <% end %>

      <div  style="text-align: center">
        <%= will_paginate @type_objects, :renderer => BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
