<% provide(:title, "#{$language['new'].capitalize} #{$language['image_singular']}") %>

<div class="home panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= yield(:title) %></h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12 col-lg-12">
      <%= form_for([:admin, @image], :remote => true, :format => :js,  html: { multipart: true, class: "dropzone"}) do |f|  %>
        <div class="fallback">
          <%= f.file_field :file %><br>
          <%= f.submit "Upload file" %>
        </div>
      <% end %>
      <br>
    </div>

    <div class="col-md-12 col-lg-12 text-right">
      <%= link_to $language['back'].capitalize, admin_images_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<style>
/* Remove file name on dropzone */
.dz-filename {display: none;}
</style>

<script>
  $(document).ready(function(){
    // disable auto discover
    Dropzone.autoDiscover = false;

    var dropzone = new Dropzone (".dropzone", {
      maxFilesize: 5, // Set the maximum file size to 5MB
      paramName: "image[image]", // Rails expects the file upload to be something like model[field_name]
      addRemoveLinks: false, // Don't show remove links on dropzone itself.
      acceptedFiles: 'image/*',
      dictDefaultMessage: '<%=j raw $language['image_upload'] %>',
    });
  });
</script>
